* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;

    --font-family-overpass: 'Overpass', sans-serif;
    --font-family-ubuntu: 'Ubuntu', sans-serif;
}

html {
    font-size: 16px;
    font-family: var(--font-family-overpass);
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    padding: 3.6rem 1.6rem 5.4rem;
    background-image: linear-gradient(to bottom, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    border-bottom-left-radius: 5.2rem;
    position: relative;
}

.img-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 0;
    background-image: url("../images/bg-pattern-intro.svg");
    background-size: 350%;
    background-position: 35% 40%;
    border-bottom-left-radius: 5.2rem;
}

.header-1 {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 200;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    width: 100%;
    max-width: 1440px;
    max-height: 0;
    overflow: hidden;
    padding: 0 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
    position: absolute;
    left: 50%;
    top: 6rem;
    right: 0;
    z-index: 200;

    transform: translateX(-50%);

    transition: max-height 0.2s linear;
}

.navigation--active {
    max-height: 2000px;
}

.menu {
    padding: 2rem 0 1rem;
    border-bottom: 1px solid hsl(240, 2%, 79%);
}

.navlink {
    display: inline-block;
    width: 100%;
    padding: 0.8rem 0;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #000;
    font-size: 1.1rem;
    font-weight: 600;
}

.img-link {
    margin-left: 0.2rem;
    transition: transform 0.3s;
}

.navlink-menu--active {
    color: hsl(207, 13%, 34%);
}

.img-link--active {
    transform: rotate(-180deg);
}

.submenu {
    max-height: 0;
    overflow: hidden;

    background-color: hsl(240, 2%, 79%);
    border-radius: 10px;

    transition: max-height 0.2s linear;
}

.submenu li:nth-child(1) {
    margin-top: 1rem;
}

.submenu li:last-child {
    margin-bottom: 1rem;
}

.submenu .navlink {
    color: hsl(207, 13%, 34%);
}

.submenu--active {
    max-height: 800px;
}

.account {
    padding: 1rem 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-menu {
    width: 32px;
    height: 20px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.line-1, .line-2, .line-3 {
    width: 100%;
    height: 3px;

    background-color: #fff;
    transition: all 0.2s linear;
}

.btn-menu--active {
    justify-content: center;
}

.btn-menu--active .line-1 {
    transform: rotate(45deg);
    position: absolute;
    left: 0;
}

.btn-menu--active .line-2 {
    display: none;
}

.btn-menu--active .line-3 {
    transform: rotate(-45deg);
    position: absolute;
    right: 0;
}

.card {
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: relative;
    z-index: 100;
}

.header .card {
    margin-top: 6rem;
    padding: 0 0.2rem;
}

.title-1 {
    font-size: 2.2rem;
    color: #fff;
    text-align: center;
}

.paragraph {
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    margin-top: 1rem;
    
}

.buttons {
    max-width: 300px;
    margin: 3rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    position: relative;
    z-index: 100;
}

.btn {
    width: 138px;
    height: 48px;
    background: none;
    border-radius: 30px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.btn-white {
    background-color: #fff;
    color: hsl(356, 100%, 66%);
}

.btn-transparent {
    border: 1px solid #fff;
}

.btn-black {
    color: #000;
}

.btn-linear-red {
    color: #fff;
    background-image: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
}

.btn-white:hover {
    color: #fff;
    background-color: hsl(355, 100%, 74%);
    transition: all 0.5s linear;
}

.btn-transparent:hover {
    color: hsl(356, 100%, 66%);
    background-color: #fff;
    transition: all 0.5s linear;
}

.btn-linear-red:hover {
    background-image: linear-gradient(to right, hsl(355, 100%, 74%), hsl(355, 100%, 74%));
    transition: all 0.5s linear;
}

.grid {
    max-width: 1440px;
    margin: 0 auto;
    padding: 4.2rem 1.6rem 6.2rem;
    display: grid;
    place-items: center;
}

.title-2 {
    font-size: 2rem;
    text-align: center;
    color: hsl(240, 10%, 16%);
    margin-bottom: 2rem;
}

.title-3 {
    font-size: 1.8rem;
    text-align: center;
    color: hsl(240, 10%, 16%);
}

.grid .card {
    width: 90%;
    margin-top: 2rem;
}

.grid .title-3 {
    width: 80%;
}

.grid .paragraph {
    color: hsl(207, 13%, 34%);
}

.img {
    width: 100%;
    max-width: 375px;
}

.section-bg {
    background-color: hsl(237, 17%, 21%);
    padding: 13rem 1.6rem 8rem;
    border-radius: 0 5.2rem 0;
    margin-top: 8rem;
    position: relative;
    background-image: url("../images/bg-pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: 50% -255px;
    background-size: cover;
}

.flex {
    max-width: 1440px;
    margin: 0 auto;
}

.flex__img {
    position: relative;
}

.flex__img .img {
    position: absolute;
    top: -380px;
    left: 50%;
    transform: translateX(-50%);

    z-index: 10;
}

.footer {
    padding: 3.6rem 1.6rem;
    background-color: hsl(240, 10%, 16%);
    border-top-right-radius: 5.2rem;
}

.footer-1 {
    max-width: 1440px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.footer-1 .logo {
    padding: 0.8rem 0;
    margin-bottom: 1.2rem;
}

.footer__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.footer__menu li {
    min-width: 200px;
    margin-bottom: 1.2rem;
}

.footer__menu .navlink {
    color: #fff;
}

.footer__submenu {
    margin-top: 1rem;
}

.footer__submenu .navlink {
    padding: 0;
    color: hsl(240, 2%, 79%);
}

.footer__submenu .navlink:hover {
    text-decoration: underline;
    transition: all 0.5s linear;
}