* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;

    --font-family-overpass: 'Overpass', sans-serif;
    --font-family-ubuntu: 'Ubuntu', sans-serif;
}

html {
    font-size: 16px;
    font-family: var(--font-family-overpass);
    scroll-behavior: smooth;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    width: 100%;
    padding: 3.6rem 1.6rem 5.4rem;
    background-image: linear-gradient(to bottom, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    border-bottom-left-radius: 5.2rem;
    position: relative;
}

.img-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 0;
    background-image: url("../images/bg-pattern-intro.svg");
    background-size: 350%;
    background-position: 35% 40%;
    border-bottom-left-radius: 5.2rem;
}

.header-1 {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 200;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    width: 100%;
    max-width: 1440px;
    max-height: 0;
    overflow: hidden;
    padding: 0 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
    position: absolute;
    left: 50%;
    top: 6rem;
    right: 0;
    z-index: 200;
    transform: translateX(-50%);
    transition: max-height 0.25s linear;
}

.navigation--active {
    max-height: 2000px;
}

.menu {
    padding: 2rem 0 1rem;
    border-bottom: 1px solid hsl(240, 2%, 79%);
}

.navlink {
    display: inline-block;
    width: 100%;
    padding: 0.8rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 1.1rem;
    font-weight: 600;
}

.img-link-light {
    display: none;
}

.img-link-dark, .img-link-light {
    margin-left: 0.2rem;
    transition: transform 0.3s;
}

.menu > .list-item > .navlink img {
    margin-left: 0.6rem;
}

.menu > .list-item > .navlink:hover {
    color: hsl(207, 13%, 34%);
}

.submenu {
    max-height: 0;
    overflow: hidden;
    background-color: hsl(240, 2%, 79%);
    border-radius: 10px;
    transition: max-height 0.2s linear;
}

.submenu .navlink {
    color: hsl(207, 13%, 34%);
}

.submenu .list-item:nth-child(1) .navlink {
    padding-top: 1.8rem;
}

.submenu .list-item:last-child .navlink{
    padding-bottom: 1.8rem;
}

.list-item:hover > .submenu {
    max-height: 800px;
}

.menu > .list-item:hover > .navlink img {
    transform: rotate(-180deg);
}

.account {
    padding: 1rem 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-menu {
    width: 32px;
    height: 20px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.line-1, .line-2, .line-3 {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: all 0.25s linear;
}

.btn-menu--active {
    justify-content: center;
}

.btn-menu--active .line-1 {
    transform: rotate(45deg);
    position: absolute;
    left: 0;
}

.btn-menu--active .line-2 {
    display: none;
}

.btn-menu--active .line-3 {
    transform: rotate(-45deg);
    position: absolute;
    right: 0;
}

.intro {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 100;
}

.title-1 {
    font-size: 2.2rem;
    color: #fff;
    text-align: center;
}

.paragraph {
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    margin-top: 1rem;
}

.buttons {
    margin: 3rem 0;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
}

.btn {
    width: 138px;
    height: 48px;
    background: none;
    border-radius: 30px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.buttons .btn + .btn {
    margin-left: 0.8rem;
}

.btn-3 {
    background-color: #fff;
    color: hsl(356, 100%, 66%);
}

.btn-4 {
    border: 1px solid #fff;
}

.btn-1{
    color: #000;
}

.btn-2 {
    color: #fff;
    background-image: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
}

.btn-3:hover {
    color: #fff;
    background-color: hsl(355, 100%, 74%);
    transition: all 0.5s linear;
}

.btn-4:hover {
    color: hsl(356, 100%, 66%);
    background-color: #fff;
    transition: all 0.5s linear;
}

.btn-2:hover {
    background-image: linear-gradient(to right, hsl(355, 100%, 74%), hsl(355, 100%, 74%));
    transition: all 0.5s linear;
}

@media all and (min-width: 1024px) {
    .btn-menu {
        display: none;
    }

    .navigation {
        max-width: unset;
        max-height: unset;
        overflow: unset;
        padding: 0;
        background-color: transparent;
        border-radius: 0;
        box-shadow: unset;
        position: relative;
        left: 0;
        top: 0;
        right: 0;
        transform: translateX(0);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        padding: 0;
        margin-left: 2rem;
        border-bottom: unset;
        display: flex;
    }

    .navlink {
        color: #fff;
        padding: 0.8rem 0.8rem;
    }

    .menu > .list-item > .navlink:hover {
        text-decoration: underline;
    }

    .img-link-dark {
        display: none;
    }

    .img-link-light {
        display: inline-block;
    }

    .menu > .list-item:hover > .navlink {
        color: #fff;
        text-decoration: underline;
    }

    .submenu {
        position: absolute;
        background-color: #fff;
    }

    .submenu .navlink {
        display: inline-block;
        text-align: left;
        color: hsl(207, 13%, 34%);
        padding: 0.8rem 3rem 0.8rem 2rem;
    }

    .submenu .navlink:hover {
        color: hsl(240, 10%, 16%);
        font-weight: 600;
    }

    .account {
        padding: 0;
        display: flex;
        flex-direction: row;
    }

    .card {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 100;
    }

    .header .card {
        margin-top: 6rem;
        padding: 0 0.2rem;
    }

    .title-1 {
        font-size: 2.2rem;
        color: #fff;
        text-align: center;
    }

    .paragraph {
        font-size: 1.2rem;
        color: #fff;
        text-align: center;
        margin-top: 1rem;
    }

    .btn-2 {
        background-image: none;
        background-color: #fff;
        color: hsl(356, 100%, 66%);
    }
    
    .btn-1 {
        color: #fff;
    }
}

.section-1, .section-3 {
    overflow: hidden;
}

div[class^="grid"] {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    margin: 6rem auto 12rem;
    display: grid;
    place-items: center;
}

.title-2 {
    font-size: 2rem;
    text-align: center;
    color: hsl(240, 10%, 16%);
    margin-bottom: 2rem;
}

.title-3 {
    font-size: 1.8rem;
    text-align: center;
    color: hsl(240, 10%, 16%);
}

div[class^="grid"] .card {
    width: 90%;
    margin-top: 2rem;
}

div[class^="grid"] .title-3 {
    width: 80%;
}

div[class^="grid"] .paragraph {
    color: hsl(207, 13%, 34%);
}

.img {
    width: 100%;
}

.img-mobile {
   max-width: 375px; 
}

.img-desktop {
    display: none;
}

.section-2 {
    background-color: hsl(237, 17%, 21%);
    padding: 8rem 1.6rem;
    border-radius: 0 5.2rem 0;
    margin-top: 8rem;
    position: relative;
    background-image: url("../images/bg-pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: 50% -255px;
    background-size: cover;
}

.flex {
    max-width: 1440px;
    margin: 0 auto;
}

.flex__img {
    position: relative;
}

.flex__img .img {
    max-width: 400px;
    position: absolute;
    top: -395px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.flex .title-2 {
    font-size: 2.2rem;
    color: #fff;
    margin: 0;
}

.flex .card {
    margin-top: 5rem;
}

@media all and (min-width: 1024px) {
    div[class^="grid"] {
        margin: 6rem auto 6rem;
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: repeat(10, 10%);
        gap: 10px;
    }

    .title-1 {
        font-size: 3.2rem;
    }
    
    .title-2 {
        font-size: 2rem;
        text-align: center;
        color: hsl(240, 10%, 16%);
        margin-bottom: 2rem;
    }
    
    .title-3 {
        font-size: 1.8rem;
        text-align: center;
        color: hsl(240, 10%, 16%);
    }
    
    .grid-1 .title-2 {
        margin: 0;
        grid-area: 1/1/2/-1;
    }

    .grid-1 .card-1 {
        grid-area: 3/2/5/6;
    }

    .grid-1 .card-2 {
        grid-area: 6/2/9/6
    }  

    .grid-1 .img-desktop {
        grid-area: 1/6/-1/-1;
    }
    
    div[class^="grid"] .card {
        align-items: flex-start;
    }

    .title-3, .paragraph {
        text-align: left;
    }
    
    div[class^="grid"] .title-3 {
        width: 80%;
    }
    
    div[class^="grid"] .paragraph {
        color: hsl(207, 13%, 34%);
    }
    
    .img-mobile {
        display: none;
    }

    .img-desktop {
        display: unset;
    }

    .grid-2 .img-desktop {
        grid-area: 1/1/-1/6;
    }

    .grid-2 .card-1 {
        grid-area: 3/6/5/-2;
    }

    .grid-2 .card-2 {
        grid-area: 6/6/9/-2;
    }

    .section-2 {
        background-size: unset;
        background-position: -200px -500px;
    }
    
    .flex {
        display: flex;
        justify-content: space-around;
    }
    
    .flex__img {
        width: 45%;
        min-height: 10px;
    }
    
    .flex .card {
        width: 50%;
        margin: 0;
        align-items: flex-start;
    }
    
    .flex__img .img {
        max-width: 600px;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(-32.5%);
        z-index: 10;
    }       
}

.footer {
    padding: 3.6rem 1.6rem;
    background-color: hsl(240, 10%, 16%);
    border-top-right-radius: 5.2rem;
}

.footer-1 {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.footer-1 .logo {
    padding: 0.8rem 0;
    margin-bottom: 1.2rem;
}

.footer__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.footer__menu li {
    min-width: 200px;
    margin-bottom: 1.2rem;
}

.footer__menu .navlink {
    color: #fff;
}

.footer__submenu {
    margin-top: 1rem;
}

.footer__submenu .navlink {
    padding: 0;
    color: hsl(240, 2%, 79%);
}

.footer__submenu .navlink:hover {
    text-decoration: underline;
    transition: all 0.5s linear;
}